body{
    background-color:#3e2525;
    font-family:sans-serif;
    width:100%;
    height:100%;
    margin:0;
    padding:0;
    /*padding-top:10em;*/
    position:relative;
    text-align:center;
}
h1{
    color:#fff;
    padding:1em;
}
#show-modal{
    text-align:center;
    background-color:#001f44;
    padding:15px;
    color:#fff;
    font-weight:100;
    font-size:1.5em;
    border-radius:3.5px;
    text-decoration:none;
    transition:all 0.15s linear;
}
#show-modal:hover{
    cursor:pointer;
    background-color:#00316b;
    color:#fff;
}
.modalMondtec{
    position:fixed;
    top:-100vh;
    left:0;
    z-index:99999999;
    background-color:rgba(0,0,0,0.75);
    width:100vw;
    height:100vh;
    opacity:0;
    transition:opacity 0.35s ease;
}
.modalMondtec .content-modal{
    width:100%;
    max-width:500px;
    position:fixed;
    left:50%;
    top:-100vh;
    transition:top 0.35s ease;
    margin-left:-250px;
    background-color:#fff;
    box-shadow:0 1px 2px rgba(0,0,0,0.1);
    border-radius:2px;
    z-index:99999999;
}
.modalMondtec h2{
    padding:0.5em;
    text-align:center;
    color:#444444;
    margin:0;
}
.modalMondtec article{
    height:300px;
    background-color:#bc651a;
}
.close-modal{
    color:#e74c3c;
    position:absolute;
    top:0.2em;
    right:0.375em;
    margin:0;
    padding:5px;
    font-weight:bold;
    font-size:1.5em;
    text-decoration:none; 
}
.modalMondtec a:hover{
    color:#000;
}
article .check:hover{
    color:#000;
}
.modalMondtec:target{
    opacity:1;
    top:0;
}
.modalMondtec .btn-close-modal{
    position:absolute;
    left:0;
    width:100%;
    height:100%;
    z-index:99999991;
}
.modalMondtec:target .content-modal{
    top:50px;
    transition:top 0.35s ease;
}

.confirm,.check{
    text-align:center;
    background-color:#c0392b;
    position:relative;
    top:100px;
    padding:15px;
    color:#fff;
    font-weight:100;
    font-size:1.5em;
    border-radius:3.5px;
    text-decoration:none;
    transition:all 0.15s linear;
}

/*@media (max-width: 796px){
    .modalMondtec .content-modal{
        width:90%;
        max-width:none;
        left:5%;
        margin-left:0;
    }
    .modalMondtec .content-modal .form-register #password{
        display:block;

    }
    .modalMondtec .content-modal .form-register #botin{
        display:block;

    }
    .modalMondtec .content-modal .form-register #textin{
        display:block;
        color:crimson;

    }
    .confirm,.check{
        display:block;
        margin-top:10px;
        width:50%;
        margin-left:20%;
    }

}*/
